#one{
    text-align: center;
    text-shadow: 1px 1px 3px red;
    line-height: 100px;
    word-spacing: 40px;
    text-decoration: underline;
    font-size: 30px;
    width: 200;
    height: 200;
    background-color: rgb(165, 81, 81);
    border-radius: 50px;

}
*{
    background-color: rgb(202, 228, 228);

fieldset{
    background-color: rgb(137, 178, 195);
    text-align: center;
    width: 500px;
    height: 650px;
    color: rebeccapurple;
    border-radius: 20px;
}
legend{
    font-size: large;
    text-shadow: 1px 1px 3px red;
    
}
form{
    background-color: rgb(164, 179, 176);
    color: black;
}